.pokemon-theme {
  background-color: #f0f0f0;
}

.navbar-brand,
.nav-link {
  color: #fff;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar {
  background-color: #ff4242;
}

.form-control {
  background-color: #fff;
  border-color: #2e78b7;
}

.btn-primary,
.btn-secondary,
.btn-danger {
  background-color: #ffcb05;
  border-color: #ffcb05;
  color: #2e78b7;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-danger:hover {
  background-color: #ffde29;
  border-color: #ffde29;
  color: #2e78b7;
}
