body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.product-details-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.btn-primary {
  background-color: #ffcc00;
  border-color: #ffcc00;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #f39c12;
  border-color: #f39c12;
}

.pokeball {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-color: #f00;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  overflow: hidden;
}

.pokeball::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}

.pokeball::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
